/* Designing ViewProduct Page  */

.box{
    width: 100%;
    height: 90vh;
    padding: 80px 80px ;
    background-color: #f8f9fa;
}

.product{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.image, .details{
    border: 2px solid black;
    flex-basis: 45%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 100%;
}
.details{
    padding: 20px;
    background-color: white;
}
.cart{
    /* border: 1px solid black; */
    width: 80px;
    position: relative;
}
.cartIcon{
    /* border: 1px solid blue; */
    font-size: 25px;
    
}
.numItems{
    /* border: 1px solid red; */
    position: absolute;
    top: -15px;
    right: 32px;
    font-size: 20px;
}

/* Designing ViewProduct Page  */


/* Designing Cart Page  */
.cartMain{
    width: 100%;
    min-height: 91vh;
    background-color:#fbfaf7;
    padding: 60px 120px;
}
.bag-price{
    display: flex;
    gap: 50px;
}
.bagItems-column{
    flex-basis: 60%;
}
.totalBill-column{
    flex-basis: 30%;
}

.bagItems{
    width: 100%;
    height: 25vh;
    background-color: #fdfdfc;
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.cart-image{
    flex-basis: 25% ;
    height: 100%;
    border-radius: 5px ;
    overflow: hidden;
}
.cart-image img{
    width: 100%;
    height: 100%;
}
.name-qty-btns{
    flex-basis: 50% ;
}
.name-qty-btns .qty{
    width: 100% ;
    display: flex;
}
.name-qty-btns .qty p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.qty-btn{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 3px;
    margin: 0 5px;
}
.qty-input{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: none;
    outline: none;
    background-color: #e2e4e6;
}
.btn-addCart{
    margin-right: 10px;
}
.totalBill{
    width: 100%;
    min-height: 50vh;
    background-color: #fdfdfc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.totalBill .item, .totalBill .total{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.break{
    width: 100%;
    height: 1px;
    background-color: #e2e4e6 ;
}
/* Designing Cart Page  */