/* Empty Cart CSS */
.empty {
    width: 100%;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptycontent {
    width: 500px;
    min-height: 500px;
    text-align: center;
}

.emptycontent .image {
    width: 100%;
    height: 300px;
}

.emptycontent .image img {
    width: 100%;
    height: 100%;
}

/* Empty Cart CSS */
/* Designing ViewProduct Page  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    height: 90vh;
    padding: 80px 80px;
    background-color: #f8f9fa;
}

.main-content {
    padding-top: 50px;
}

.product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.product .image,
.product .details {
    width: 100%;
}

.image img {
    width: 100%;
    height: 100%;
}

.details {
    padding: 20px;
    background-color: white;
}

.navbar {
    padding: 10px;
}

.nav-cont {
    display: flex;
    justify-content: space-between;
}

.btn-icon {
    display: flex;
    gap: 10px;
}

.navicons {
    margin-top: 5px;
    /* border: 2px solid black; */
}

.cart {
    width: 50px;
    position: relative;
}

.cartIcon {
    font-size: 25px;
}

.numItems {
    position: absolute;
    top: -8px;
    right: -1px;
    font-size: 15px;
    background-color: #d63031;
    padding: 1px 5px;
    border-radius: 50%;
    color: white;
}

/* Designing ViewProduct Page  */


/* Designing Cart Page  */
.main {
    width: 100%;
    min-height: 91vh;
    background-color: #fbfaf7;
    padding: 20px 120px;
}


.bag-price {
    display: flex;
    gap: 50px;
}

.bagItems-column {
    flex-basis: 60%;
}

.totalBill-column {
    flex-basis: 30%;
}

.bagItems {
    width: 100%;
    height: 25vh;
    background-color: #fdfdfc;
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.cart-image {
    flex-basis: 25%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.cart-image img {
    width: 100%;
    height: 100%;
}

.name-qty-btns {
    flex-basis: 50%;
}

.name-qty-btns .qty {
    width: 100%;
    display: flex;
}

.name-qty-btns .qty p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.qty-btn {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 3px;
    margin: 0 5px;
}

.qty-input {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: none;
    outline: none;
    background-color: #e2e4e6;
}

.btn-addCart {
    margin-right: 10px;
}

.totalBill {
    width: 100%;
    min-height: 50vh;
    background-color: #fdfdfc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.totalBill .item,
.totalBill .total {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.break {
    width: 100%;
    height: 1px;
    background-color: #e2e4e6;
}

.checkout-Btn {
    margin-top: 20px;
}

/* Designing Cart Page  */

/* Designing Checkout Page  */
.checkout-box {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
}

.colom1,
.colom2 {
    flex-basis: 45%;
    height: auto;
    background-color: #fefefd;
    padding: 30px;
}


.colom1 h3 {
    margin-left: 20px;
}

.form {
    margin-left: 20px;
    width: 90%;
}

.form .btns {
    margin: 0 5px;
}

.colom2 .ch-products {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.colom2 .ch-products .product {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    padding: 5px;
}

.colom2 .ch-products .product .name-price {
    padding: 10px;
    flex-basis: 50%;
    height: 100%;
}

.colom2 .ch-products .product .name-price .prices {
    display: flex;
    gap: 10px;
    align-items: center;
}

.colom2 .ch-products .product .img {
    flex-basis: 20%;
    height: 100%;
    border-radius: 5px;
}

.colom2 .ch-products .product .img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.colom2 .finalBill {
    width: 100%;
    margin: 10px 0;
}

.colom2 .finalBill .bills {
    display: flex;
    justify-content: space-between;
}

.colom2 .finalBill .bills .total {
    margin-top: 10px;
}

/* Designing Checkout Page  */

/* Designing Filter  */
.filter-main {
    height: 100vh;
    width: 25%;
    padding: 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: hsla(0, 0%, 100%, .3);
    border: 1px solid hsla(0, 0%, 100%, .3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: none;
    transition: all 0.3s ease-in-out;
    overflow: auto;
}

.filter-main.show {
    display: block;
}

.filter-main .fheading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Designing Filter  */


.heading-filter {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0;
}

.filter {
    display: flex;
    gap: 10px;
    /* border: 2px solid red; */
    flex-basis: 15%;
    height: 40px;
}

/* Designing HomePage  */
.hero-section {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

.hero-image {
    height: 40vh;
}

.heading,
.picture {
    padding: 40px 30px;
}

.heading {
    flex-basis: 40%;
}

.heading .btns {
    margin: 5px;
}

.heading h1 {
    font-size: 70px;
}

.picture {
    flex-basis: 40%;
    padding: 30px;
}

.picture img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.trending {
    width: 100%;
    height: 70vh;
}

.text {
    font-size: 45px;
    width: 100%;
    height: 15%;
    text-align: center;
}

.products {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 85%;
}

.product {
    flex-grow: 1;
    height: 100%;
}

.product .pimage {
    height: 100%;
    width: 100%;
    border-radius: 0;
    overflow: visible;
    position: relative;
}

.pbtn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: all 0.3 ease-in-out
}

.pimage:hover .pbtn {
    visibility: visible;
    cursor: pointer;
}

.product .pimage img {
    width: 100%;
    height: 100%;
}

.category {
    width: 100%;
    height: 60vh;
}

.category .heading {
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 10px;
}

.category .boxs {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.pbtn {
    visibility: hidden;
}

.pbox {
    position: relative;
}

.category .pbox {
    flex-grow: 1;
    height: 100%;
    padding: 0;

}

.pbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.category .pbox img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

}

.pbox:hover {
    cursor: pointer;
}

.category .pbox h1 {
    position: absolute;
    top: 40%;
    right: 120px;
    z-index: 5;
    color: white;
}

/* Designing HomePage  */

/* Designing Footer  */
.footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color: #f8f9fa;
    color: #2d3436;
}

.footer p {
    /* border: 1px solid black; */
    margin-right: 5px;
    font-weight: bolder;
}

.footer a {
    text-decoration: none;
    padding-left: 10px;
    color: #2d3436;
}

/* Designing Footer  */

/* Applying Media Screen  */
@media screen and (max-width: 640px) {
    .main {
        padding: 10px 10px;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        text-align: left;
    }

    .picture {
        display: none;
    }

    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product {
        margin-bottom: 20px;
    }

    .trending {
        margin-bottom: 1020px;
        /* Adjust the margin as needed */
    }

    .category {
        height: auto;
    }

    .category .heading {
        height: auto;
        padding: 10px 0;
    }

    .category .boxs {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .category .pbox {
        flex-grow: 1;
        height: auto;
        padding: 0;
    }

    .category .pbox::before {
        border-radius: 0;
    }

    .category .pbox h1 {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .pbtn {
        visibility: visible;
    }

    .hero-image {
        height: 150px;
    }

    .box {
        padding: 10px;
        padding-left: 30px;
    }

    .bag-price {
        display: flex;
        flex-direction: column;
    }

    .bagItems-column,
    .totalBill-column {
        width: 100%;
    }

    .bagItems {
        display: flex;
        gap: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 150px;
    }

    .bagItems .cart-image img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .btn-addCart {
        padding: 5px 10px;
        width: 100%;
        font-size: 12px;
    }

    .bagItems .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    .bagItems .name-qty {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bagItems h5 {
        margin: 0;
    }

    .bagItems .qty p {
        margin: 5px 0;
    }

    .bagItems .price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .bagItems .price h5,
    .bagItems .price p {
        margin: 0;
    }

    .bagItems .btns {
        display: flex;
        gap: 5px;
        margin-top: 10px;
    }

    .checkout-box {
        flex-direction: column;
    }

    .colom1,
    .colom2 {
        width: 100%;
    }

    .filter-main {
        width: 70%;
    }

}

/* Applying Media Screen  */